<!DOCTYPE HTML>
<html><!-- InstanceBegin template="/Templates/layout.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if IE]>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8; Cache-Control: no-cache" />
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<meta http-equiv="Expires" content="-1" />
<base href="../" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Step Out</title>
<!-- InstanceEndEditable -->
<link rel="stylesheet" type="text/css" href="../css/index.css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<div id="page">
<div id="siteheader"><!-- InstanceBeginEditable name="siteheader" --><!-- siteheader --><!-- InstanceEndEditable --></div>
<div id="header"><!-- InstanceBeginEditable name="header" --><!-- InstanceEndEditable --></div>
<div id="content"><!-- InstanceBeginEditable name="content" -->
    <div id="page-aftertrip" class="mapcontent">
      <div class="main">
        <div class="section notes"> 
          <div class="aftertripNoteList">
            <div class="aftertripNoteItem">
                <div class="table-cell-4">class
                </div><div class="table-cell-4 fldname">name
                </div><div class="table-cell-4">2012/5/6<br />4:15pm 
                </div><div class="table-cell-4"><a class="btnShow" href="javascript:void(0);" title="<%- dict('View')%>"><img src="img/btnview.png" alt="<%- dict('View')%>" /></a> <a class="btnDelete" href="javascript:void(0);" title="<%- dict('Delete')%>"><img src="img/btndelete.png" alt="<%- dict('Delete')%>" /></a></div>
            </div><!--  Item here --> 
          </div><!-- end thetripNoteList --> 
        </div><!-- end section -->
      </div><!-- end subpage main -->
    </div><!-- end subpage page-thetrip -->
    <!-- InstanceEndEditable --></div>
</div>
</body>
<!-- InstanceEnd --></html>
