<!DOCTYPE HTML>
<html><!-- InstanceBegin template="/Templates/layout.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if IE]>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8; Cache-Control: no-cache" />
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<meta http-equiv="Expires" content="-1" />
<base href="../" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Step Out</title>
<!-- InstanceEndEditable -->
<link rel="stylesheet" type="text/css" href="../css/index.css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<div id="page">
<div id="siteheader"><!-- InstanceBeginEditable name="siteheader" --><!-- siteheader --><!-- InstanceEndEditable --></div>
<div id="header"><!-- InstanceBeginEditable name="header" -->
  <div class="drawing-wrapper">
  	<div class="drawing-toolbar">
        <a href='javascript:void(0)' class='btnCursor'><img src='img/drawing/cursor.png' alt='Cursor' /></a>
        <a href='javascript:void(0)' class='btnUndo'><img src='img/drawing/arrow_undo.png' alt='Undo'></a>
        <a href='javascript:void(0)' class='btnRedo'><img src='img/drawing/arrow_redo.png' alt='Redo'></a>
        <a href='javascript:void(0)' class='btnClear'><img src='img/drawing/picture_delete.png' alt='Clear'></a>
        <a href='javascript:void(0)' class='btnPen'><img src='img/drawing/pencil.png' alt='Pen'></a>
        <a href='javascript:void(0)' class='btnErase'><img src='img/drawing/pencil_delete.png' alt='Erase'></a>
    </div>
  </div>
  <div class="webedit-wrapper">
  	<div class='webedit-preview' /><div class='webedit-tips'>
        <div class="note">
        	<strong><%- dict('Tips') %><%- dict(':') %></strong><br />
            To insert an image: <br />
            <ul><li>Upload the image file (e.g. web album, personal web space). In the editor, click 'Insert image' <span class="bbedit-img" style="display:inline-block; width:20px; height:16px;"></span> and input the image's URL.</li></ul>
            To insert a file as a link (e.g. PDF, document, video, etc.): <br />
            <ul><li>Upload the file (e.g. web storage, personal web space). In the editor, click 'Insert link' <span class="bbedit-url" style="display:inline-block; width:20px; height:16px;"></span>, input the file's URL.</li></ul>
            <br />
            Examples of hosting services:<br />
            <ul><li>Image: Photobucket, ImageShack, Instagram, Flickr, Imgur, Picasa, etc.</li>
            <li>Video: YouTube, Tudou, etc</li>
            <li>File: Box, Dropbox (in "public" folder), SkyDrive, Google Drive (set as public), etc.</li></ul>
        </div>
    </div>
    <div class='webedit-toolbar'><a href='javascript:void(0)' class='btnEdit'><%- dict('Edit (BBCode)') %></a><a href='javascript:void(0)' class='btnPreview'><%- dict('Preview') %></a><a href='javascript:void(0)' class='btnTips'><%- dict('Tips') %></a></div> 
  </div>
  <!-- InstanceEndEditable --></div>
<div id="content"><!-- InstanceBeginEditable name="content" --><!-- InstanceEndEditable --></div>
</div>
</body>
<!-- InstanceEnd --></html>
