<!DOCTYPE HTML>
<html><!-- InstanceBegin template="/Templates/layout.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if IE]>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8; Cache-Control: no-cache" />
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<meta http-equiv="Expires" content="-1" />
<base href="../" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Step Out</title>
<!-- InstanceEndEditable -->
<link rel="stylesheet" type="text/css" href="../css/index.css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<div id="page">
<div id="siteheader"><!-- InstanceBeginEditable name="siteheader" --><!-- siteheader --><!-- InstanceEndEditable --></div>
<div id="header"><!-- InstanceBeginEditable name="header" --><!-- InstanceEndEditable --></div>
<div id="content"><!-- InstanceBeginEditable name="content" -->
    <div id="page-plantrip" class="mapcontent">
      <div class="left">
		<div subpage="cp" class="subpage"> 
          <div class="slider horizontal">
            <div class="slider-normal"></div>
            <div class="slider-content checkpoint-detail">
            	<div class="checkpoint-tasks-reorder">
                    <div class="section subsections">
                        <div class="tasks">
                            <div class="subsection task">
                                <div style="float:right">
                                <a href="javascript:void(0)" class="btnMoveUp"><img class="imgUp" src="img/btnmoveup.png" alt="<%- dict('Move Up') %>" title="<%- dict('Move Up') %>" /></a><a href="javascript:void(0)" class="btnMoveDown"><img class="imgDown" src="img/btnmovedown.png" alt="<%- dict('Move Down') %>" title="<%- dict('Move Down') %>" /></a>
                                </div>
                                <div class="line clearfix"><%= taskNumber(taskObj.taskOrder) %><%-taskObj.question %></div>
                                <% if((taskObj.question2 != "") && (taskObj.question2 != null)) { %>
                                <div class="line longbox"><div class="longbox2"><%=  Convert.BBCodetoHtml(taskObj.question2) %></div></div>
                                <% } %>
                                <div class="line note"><span class="lblField"><%- dict('Answer Type') %><%- dict(': ') %></span><span class="lblText"><%- dict(OPTIONS.answerType[taskObj.answerType]) %></span></div>
                            </div>
                        </div>
                    </div>
             	</div>
            </div>
          </div>   
        </div>      
      </div> 
    </div>
    <!-- InstanceEndEditable --></div>
</div>
</body>
<!-- InstanceEnd --></html>
