<!DOCTYPE HTML>
<html><!-- InstanceBegin template="/Templates/layout.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if IE]>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8; Cache-Control: no-cache" />
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<meta http-equiv="Expires" content="-1" />
<base href="../" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Step Out</title>
<!-- InstanceEndEditable -->
<link rel="stylesheet" type="text/css" href="../css/index.css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<div id="page">
<div id="siteheader"><!-- InstanceBeginEditable name="siteheader" --><!-- siteheader --><!-- InstanceEndEditable --></div>
<div id="header"><!-- InstanceBeginEditable name="header" --><!-- InstanceEndEditable --></div>
<div id="content"><!-- InstanceBeginEditable name="content" -->
    <div id="page-pretrip" class="mapcontent">
      <div class="main">
        <div subpage="notes" class="subpage noteslog"> 
        	<div class="section notes">
                <a class="btnNoteClear greybg-lt shortbtn" style="float:right" href="javascript:void(0)">Clear</a><h2 class="clearfix">Notes</h2>
                <div id="pretripNoteList">
                    <div class="pretripNoteHeader">
                        <div class="table-cell-4"><img src="img/pretrip-notes-datetime.png" alt="<%- dict('Timestamp') %>" title="<%- dict('Timestamp') %>" /> 
                        </div><div class="table-cell-6">
                        </div><div class="table-cell-4"><img src="img/pretrip-notes-timer.png" alt="<%- dict('Elapsed') %>" title="<%- dict('Elapsed') %>" />
                        </div><div class="table-cell-3"><img src="img/pretrip-notes-read.png" alt="<%- dict('Notes') %>" title="<%- dict('Notes') %>" /></div>
                    </div>
                    <div class="pretripNoteItem">
                        <div class="table-cell-4">2012/5/6<br />4:15pm
                        </div><div class="table-cell-6"><a href="javascript:void(0)" class="geo"><img src="img/pretrip-notes-geo.png" alt="<%- dict('Location') %>" title="<%- dict('Location') %>" /></a>
                        </div><div class="table-cell-4">00:00:00
                        </div><div class="table-cell-3">Start Trip</div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- InstanceEndEditable --></div>
</div>
</body>
<!-- InstanceEnd --></html>
