<!DOCTYPE HTML>
<html><!-- InstanceBegin template="/Templates/layout.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if IE]>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8; Cache-Control: no-cache" />
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<meta http-equiv="Expires" content="-1" />
<base href="../" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Step Out</title>
<!-- InstanceEndEditable -->
<link rel="stylesheet" type="text/css" href="../css/index.css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<div id="page">
<div id="siteheader"><!-- InstanceBeginEditable name="siteheader" --><!-- siteheader --><!-- InstanceEndEditable --></div>
<div id="header"><!-- InstanceBeginEditable name="header" --><!-- InstanceEndEditable --></div>
<div id="content"><!-- InstanceBeginEditable name="content" -->
    <div id="page-pretrip" class="mapcontent">
      <div class="left">
		<div subpage="cp" class="subpage"> 
          <div class="slider horizontal">
            <div class="slider-normal"></div>
            <div class="slider-content checkpoint-detail">
                <div class="section checkpoint-main">
                	<div class="slider-btnClose btnCPDetail"><img class="imgLeft noRotate" src="img/btnleft.png" alt="<%- dict('Collapse') %>" title="<%- dict('Collapse') %>" /></div>
                    <h2><%- dict('Checkpoints & Tasks') %></h2>
                    <div class="line"><span class="cpNumber"><%= cpObj.cpOrder %></span><span class="cpName"><%- cpObj.name %></span></div>
                    <div class="line note">
                    <img src="img/thetrip-lock.png" alt="<%- dict('Password') %>" class="note" /> <%- dict('Password') %> (<%- dict('if applicable')%>)<%- dict(': ') %><%- cpObj.password %>
                    </div>
                    <div class="note"><span class="seg"><%- dict('Lat') %><%- dict(': ') %><span class="lat"><%- cpObj.lat %></span></span><span class="seg"><%- dict('Lng') %><%- dict(': ') %><span class="lng"><%- cpObj.lng %></span></span></div>
                    <div class="line" style="text-align:center"><a href="javascript:void(0)" class="greybg-lt smallbtn btnUpdateCurrLoc"><img src="img/pretrip-notes-geo.png" class="note" alt="<%- dict('Current Location') %>" title="<%- dict('Current Location') %>" /> <%- dict('Update (Current Location)') %></a></div>
                    <% if (cpObj.description != "") { %>
                    <h3><%- dict('Description') %><%- dict(':') %></h3>
                    <div class="line longbox"><div class="longbox2"><%=  Convert.BBCodetoHtml(cpObj.description) %></div><a href="javascript:void(0)" class="morebox"><span class="moretext"><%- dict('@longbox-more') %></span></a></div>
                    <% } %>
                </div>
                <div class="checkpoint-tasks">
                    <div class="section subsections cp">
                        <h2><%- dict('Tasks') %></h2>
                        <div class="tasks">
                        </div>
                    </div>
                </div>
            </div>
          </div>   
        </div>      
      </div> 
    </div>
    <!-- InstanceEndEditable --></div>
</div>
</body>
<!-- InstanceEnd --></html>
