<!DOCTYPE HTML>
<html><!-- InstanceBegin template="/Templates/layout_simple.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if IE]>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8; Cache-Control: no-cache" />
<![endif]-->
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<meta http-equiv="Expires" content="-1" />
<base href="../" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Step Out</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<!-- InstanceBeginEditable name="simplecontent" -->
<div>
  <div id="sitenotice">
    <div style="color:#1881c3; background-color:#f70081; color:#FFF">系統維護 System Maintenance</div>
    <div style="background:#ffbc0c; border:none; margin:0; padding:5px;"> 「移動學堂」將於以下時段進行例行系統維護工作。屆時用戶將不能使用本網站。不便之處，敬請原諒。<br />
      "Beyond Campus" will be unavailable due to scheduled maintenance. Sorry for any inconvenience caused.<br />
      <br />
      由 from: <%- moment(noticeObj.startTime).format('h:mm a D MMM YYYY (ddd)') %> <br />
      至 to: <%- moment(noticeObj.endTime).format('h:mm a D MMM YYYY (ddd)') %> <br />
    </div>
    <a href="javascript:void(0);" class="btnClose" style="text-decoration:none; display:block; text-align:right"><span style="padding-right:10px;">X</span>關閉Close</a> </div>
</div>
<!-- InstanceEndEditable -->
</div>
</body>
<!-- InstanceEnd --></html>
