<!DOCTYPE HTML>
<html><!-- InstanceBegin template="/Templates/layout.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if IE]>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8; Cache-Control: no-cache" />
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<meta http-equiv="Expires" content="-1" />
<base href="../" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Step Out</title>
<!-- InstanceEndEditable -->
<link rel="stylesheet" type="text/css" href="../css/index.css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<div id="page">
<div id="siteheader"><!-- InstanceBeginEditable name="siteheader" --><!-- siteheader --><!-- InstanceEndEditable --></div>
<div id="header"><!-- InstanceBeginEditable name="header" --><div id="header-thetrip" class="mapheader">
<div class="mode-icon">
	<img src="img/maplist-mode-trip.png">
</div><h1>
	<%- dict('The Trip') %>
</h1><div class="mapfuncs expand">
<a href="#mode/trip/<%=mapObj.mapKey %>/basic" class="basic">
	<img src="img/<%- dict('mapheader-basic.png') %>">
</a><a href="#mode/trip/<%=mapObj.mapKey %>/cp" class="cp btnCP" style="display:none">
	<img src="img/<%- dict('mapheader-cp.png') %>">
</a><a href="#mode/trip/<%=mapObj.mapKey %>/map" class="map">
	<img src="img/<%- dict('mapheader-map.png') %>">
</a><a href="#mode/trip/<%=mapObj.mapKey %>/data" class="resolution-small basic">
<img src="img/<%- dict('mapheader-notice.png') %>">
</a>
</div><div class="timer-display">--:--:--</div><div class="rightcell">
	<a href="javascript:void(0)" class="btnSided"><img src="img/btnsided_1p.png" class="btnSided_1p" alt="<%- dict('1 Page') %>" title="<%- dict('1 Page') %>" />
    <img src="img/btnsided_2p.png" class="btnSided_2p" alt="<%- dict('2 Pages') %>" title="<%- dict('2 Pages') %>" /></a>
</div>
</div>
<!-- InstanceEndEditable --></div>
<div id="content"><!-- InstanceBeginEditable name="content" --><!-- InstanceEndEditable --></div>
</div>
</body>
<!-- InstanceEnd --></html>
